/* MIN WIDTH */

@media (min-width: 100em) {
  html {
    font-size: 75.25%;
  }
  .pic-cover-1 {
    bottom: -6rem;
  }
  .pic-cover-2 {
    bottom: -8.5rem;
  }
  .pic-cover-3 {
    bottom: -11rem;
  }
  .pic-cover-4 {
    width: 10rem;
    height: 35rem;
  }
  .pic-cover-5 {
    height: 15rem;
    bottom: -2rem;
  }
  .triangle-7 {
    width: 50rem;
    height: 50rem;
    right: -25rem;
    top: 0;
  }
}

/* 1440px */
@media (min-width: 90em) {
  .pic-cover-1 {
    width: 100vw;
    left: -15rem;

    border-bottom-right-radius: 200px;
    transform: skew(160deg, 175deg);
  }
  .pic-cover-2 {
    width: 100vw;
    left: -15rem;

    border-bottom-right-radius: 200px;

    transform: skew(158deg, 175deg);
  }
  .pic-cover-3 {
    width: 100vw;
    left: -15rem;

    border-bottom-right-radius: 200px;
    transform: skew(156deg, 175deg);
  }
  .pic-cover-4 {
    width: 10rem;
    height: 35rem;
  }
  .pic-cover-5 {
    width: 50rem;
    height: 10rem;
  }
  .pic-cover-6 {
    width: 15rem;
    height: 10rem;
  }
}

/* ///////////////////// */
/* 1200px */
/* ////////////////////// */

@media (max-width: 75em) {
  /* html {
    font-size: 56.25%;
  } */
}
/* ///////////////////// */
/* 1080px */
/* ////////////////////// */

@media (max-width: 67em) {
  .grid-3 {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .cart3 {
    grid-column: 1/3;
    justify-self: center;
  }
  .grid4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .test-splitter {
    grid-template-columns: 1fr 1fr;
  }
  blockquote > p {
    font-size: 2rem;
  }
  .test-right {
    justify-self: center;
  }
  .photo-light-right {
    padding: 8rem 15rem 8rem 5rem;
  }
}

/* ///////////////////// */
/* 910px */
/* ////////////////////// */

@media (max-width: 57em) {
  .foot-splitter {
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
  }
  .foot-right {
    grid-column: 1/3;
    justify-self: center;
  }
  .other-company-logos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
  }
  .photo-light-right {
    padding: 7rem 10rem 7rem 4rem;
  }
  .test-splitter {
    grid-template-columns: 1fr 1fr;
  }
  .triangle-7 {
    width: 50rem;
    height: 50rem;
  }
}

/* ///////////////////// */
/* 770px */
/* ////////////////////// */

@media (max-width: 48em) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
  .section-new-courses {
    margin-bottom: 20rem;
  }
  .cart3 {
    grid-column: unset;
  }
  .grid4 {
    grid-template-columns: 1fr 1fr;
  }
  .section-2-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 7rem;
  }
  .number-cell {
    padding: 2rem 2rem 2rem 0;
  }
  .border-right {
    justify-self: unset;
  }
  .test-splitter {
    grid-template-columns: 1fr;
    gap: 7rem;
  }
  .triangle-7 {
    width: 60rem;
    height: 60rem;
    right: -30rem;
    top: -14rem;
  }
  .test-right {
    grid-row: 1/2;
  }
  .photo-light-splitter {
    grid-template-columns: 1fr;
  }
  .nav-links {
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    position: absolute;

    background-color: #fff;
    width: 40rem;
    padding: 5rem 2rem 7rem 2rem;
    z-index: 100000;

    top: 10rem;

    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .nav-link {
    color: black !important;
    /* border-bottom: 1px solid #ccc; */
    font-size: 1.6rem;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links-open {
    pointer-events: all;
    opacity: 100%;
    visibility: visible;
  }
  .pic-cover-5 {
    width: 15rem;
  }

  .pic-cover-5 {
    width: 20rem;
  }
}

/* ///////////////////// */
/* 580px */
/* ////////////////////// */
@media (max-width: 37em) {
  .main-heading,
  h2 {
    font-size: 4.8rem;
  }
  .head-input {
    width: 30rem;
    height: 4rem;
  }
  .search-btn {
    padding: 1rem 1.6rem;
  }
  .nav-right {
    gap: 1rem;
  }
  .triangle-7 {
    width: 50rem;
    height: 50rem;
    right: -30rem;
    top: -14rem;
  }
  .section-2-container {
    grid-template-columns: 1fr;
  }
  .border-right {
    border: none;
  }
  .grid4 {
    grid-template-columns: 1fr;
  }

  .pic-cover-1 {
    width: 111vw;
    left: -15rem;

    border-bottom-right-radius: 200px;
    transform: skew(150deg, 175deg);
  }
  .pic-cover-2 {
    width: 111vw;
    left: -15rem;

    border-bottom-right-radius: 200px;

    transform: skew(148deg, 175deg);
  }
  .pic-cover-3 {
    width: 111vw;
    left: -15rem;

    border-bottom-right-radius: 200px;
    transform: skew(146deg, 175deg);
  }
  .pic-cover-4 {
    width: 7rem;
    height: 15rem;
  }
  .pic-cover-5 {
    width: 15rem;
  }
  .pic-cover-6 {
    width: 4rem;
    height: 4rem;
  }
}

/* ///////////////////// */
/* 500px */
/* ////////////////////// */
@media (max-width: 31em) {
  .other-company-logos-container {
    grid-template-columns: 1fr 1fr;
  }
  .input {
    height: 4rem;
    width: 25rem;
  }
  .foot-btn {
    padding: 1rem 2rem;
  }
  .bottom-footer {
    display: flex;
    gap: 3rem;
  }
  .input-serach {
    flex-direction: column;
    align-items: center;
  }
  .search-btn {
    padding: 1rem 1.6rem;
    width: 8rem;
  }
  .top-wording {
    margin: 10rem 0;
  }
  .reco-btn {
    height: 4rem;
    width: 5rem;

    font-size: 1.6rem;
    margin-top: 6rem;
  }
}

/* ///////////////////// */
/* 500px */
/* ////////////////////// */
@media (max-width: 28em) {
  .triangle-7 {
    width: 47rem;
    height: 47rem;
    top: -11rem;
  }
  .mid-foot {
    gap: 5rem;
  }
  .input-serach {
    align-items: start;
  }
  .bottom-text {
    font-size: 1.2rem;
  }
  .bottom-btn:link,
  .bottom-btn:visited {
    font-size: 1.2rem;
  }
  /* .foot-btn {
    font-size: 1.2rem;
  } */
  .main-heading,
  h2 {
    font-size: 4.4rem;
  }
  .first-reco-splitter {
    flex-direction: column;
    gap: 3rem;

    margin-bottom: 3rem;
  }
  .head-btn-1:link,
  .head-btn-1:visited {
    padding: 0.6rem 1rem;
  }
  .container {
    padding: 0 1.5rem;
  }
  /* ////////////////////////////////// */
  .main-person-img {
    width: 21rem;
    height: 21rem;
  }
  .circular-ring {
    width: 33rem;
    height: 33rem;
  }
  .snaller-face-1 {
    width: 7rem;
    height: 7rem;

    top: 18rem;
    left: -3.5rem;
  }
  .snaller-face-2 {
    top: 18rem;
    left: 21rem;
  }
  .snaller-face-3 {
    top: 6rem;
    left: 24rem;
  }
  .snaller-face-4 {
    width: 5rem;
    height: 5rem;

    top: -6rem;
    left: 17rem;
  }
  .foot-splitter {
    column-gap: 3rem;
    row-gap: 7rem;
  }
  .foot-fusion {
    font-size: 3rem;
  }
  .fut-mid-heading {
    font-size: 1.5rem;
  }
  .right-fut-head {
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
  }
  .input {
    height: 4rem;
    width: 22rem;
  }
  .foot-btn {
    padding: 1rem;
  }
}
