/* 
section margin-bottom:13rem
primarygreen:#1BCF48
primaryPurple:#6F58B0
primaryGrey:#868e96




*/
:root {
  --primary-green: #1bcf48;
  --primary-purple: #6f58b0;
  --primary-grey: #868e96;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Roboto;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.the-whole-page {
  /* padding: 0 3.2rem; */
}

/* //////////////////////////// */
/* header section */
/* //////////////////////////// */
.header-section {
  margin: 0 0 13rem 0;
  padding: 3rem 0 0 0;
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba(95, 61, 196, 0.81),
      rgba(176, 151, 252, 0.2)
    ),
    url(images/big-1.webp);
  background-size: cover;
}
.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fusion {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.nav-links {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
}
.first-nav-link {
  display: flex;
}
.grid-icon {
  color: var(--primary-green);
  margin-right: 0.5rem;
  font-weight: 700;
}
.nav-right {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
}
.nav-link:link,
.nav-link:visited {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.nav-link:hover,
.nav-link:active {
  color: var(--primary-green);
}
.head-btn-1:link,
.head-btn-1:visited {
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 1.2rem 1.8rem;
  color: #fff;
}
.head-btn-1:active,
.head-btn-1:hover {
  border: 2px solid var(--primary-green);
}

.top-wording {
  margin: 13rem 0;
}

.main-heading {
  font-size: 5.4rem;
  margin-bottom: 3rem;
  color: #fff;
}
.input-serach {
  display: flex;
  gap: 1rem;
}
.head-input {
  width: 40rem;
  height: 5rem;
  padding-left: 2rem;
}
.search-btn {
  background-color: var(--primary-green);
  padding: 1rem 1.6rem;
  border: none;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.search-icon {
  font-size: 1.2rem;
}

/* //////////////////////////// */
/* NUMBERS section */
/* //////////////////////////// */

.section-2-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
